@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    body{
        @apply text-primary;
        font-family: 'Roboto', sans-serif;
    }
    .nav__menu{
        @apply text-gray-800 cursor-pointer text-base font-normal
    }
    .btn{
        @apply bg-none border-transparent py-4 px-10 outline-none font-bold
    }
    .btn--primary{
        @apply bg-primary text-white rounded-xl
    }
    .c-title{
        @apply font-bold text-[56px] leading-[110%]
    }
    .c-subtitle{
        @apply text-lg opacity-90
    }
    .s-hero__gradient{
        position: absolute;
        top: -80px;
        z-index: -1;
    }
    .c-input{
        @apply bg-white border-none outline-none
    }
}