@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    body{
        @apply text-primary;
        font-family: 'Roboto', sans-serif;
    }
    .nav__menu{
        @apply text-gray-800 cursor-pointer text-base font-normal
    }
    .btn{
        @apply bg-none border-transparent py-4 px-10 outline-none font-bold
    }
    .btn--primary{
        @apply bg-primary text-white rounded-xl
    }
    .c-title{
        @apply font-bold text-[56px] leading-[110%]
    }
    .c-subtitle{
        @apply text-base opacity-90
    }
    .s-hero__gradient{
        position: absolute;
        top: -80px;
        z-index: -1;
    }
    .c-input{
        @apply bg-white border-none outline-none
    }
    .c-gradient-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .features__item{
        @apply space-y-6
    }
    .features__name{
        @apply text-[32px]
    }
}